* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100vh;
  max-width: 500px;
}
.head-container {
  width:200px;
  height: 50px;
  background-color: skyblue;
}
.img-container {
  height: 300px;
  width: 100%;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}